<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="navia_viewer_mtk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
    <userSettings>
        <navia_viewer_mtk.Properties.Settings>
            <setting name="nmea_serial_port_name" serializeAs="String">
                <value />
            </setting>
            <setting name="nmea_serial_port_baudrate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="epo_server_ip_adderss" serializeAs="String">
                <value />
            </setting>
            <setting name="epo_server_tcp_port" serializeAs="String">
                <value>31337</value>
            </setting>
            <setting name="epo_server_user_name" serializeAs="String">
                <value />
            </setting>
            <setting name="epo_server_password" serializeAs="String">
                <value />
            </setting>
            <setting name="firmware_file_name" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="locale_file_name" serializeAs="String">
                <value>ru.locale.xml</value>
            </setting>
            <setting name="epo_file_name" serializeAs="String">
                <value />
            </setting>
            <setting name="help_file_name" serializeAs="String">
                <value>navia_viewer_mtk.chm</value>
            </setting>
            <setting name="is_load_locale" serializeAs="String">
                <value>False</value>
            </setting>
        </navia_viewer_mtk.Properties.Settings>
    </userSettings>
</configuration>
