<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="navia_viewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <navia_viewer.Properties.Settings>
            <setting name="nmea_serial_port_name" serializeAs="String">
                <value />
            </setting>
            <setting name="nmea_serial_port_speed" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="locale_file_name" serializeAs="String">
                <value>ru.locale.xml</value>
            </setting>
            <setting name="st_debug_serial_port_name" serializeAs="String">
                <value />
            </setting>
            <setting name="st_debug_serial_port_speed" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="is_use_nmea_logging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="is_use_st_debug_logging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="is_use_raw_nmea_logging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="stop_drawing_delay_sec" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="next_point_delay_ms" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="ttf_measurement_loops_number" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ttf_measurement_max_wait_time_sec" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ttf_measurement_use_logging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="data_source_type" serializeAs="String">
                <value>serial</value>
            </setting>
            <setting name="data_source_file_name" serializeAs="String">
                <value />
            </setting>
            <setting name="data_source_file_read_delay_ms" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="is_use_nmea_missed_points_logging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deviations_reference_file_name" serializeAs="String">
                <value />
            </setting>
            <setting name="deviations_comparing_file_name" serializeAs="String">
                <value />
            </setting>
            <setting name="is_export_track_to_google_earth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="firmware_file_name" serializeAs="String">
                <value />
            </setting>
            <setting name="is_clean_nvram_on_firmware_update" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="google_earth_track_color" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="google_earth_track_line_thickness" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="google_earth_track_refresh_time_sec" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="firmware_update_serial_port_name" serializeAs="String">
                <value />
            </setting>
            <setting name="firmware_update_serial_port_speed" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="fast_firmware_upgrade_file_name" serializeAs="String">
                <value />
            </setting>
            <setting name="is_clean_nvram_on_fast_firmware_upgrade" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fast_firmware_upgrade_new_serial_port_speed" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="popup_file_name" serializeAs="String">
                <value>ru.popup.xml</value>
            </setting>
            <setting name="is_show_popup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="help_file_name" serializeAs="String">
                <value>navia_viewer.chm</value>
            </setting>
            <setting name="commands_console_is_show_last_messages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="navia_assist_server_ip_address" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="navia_assist_tcp_port" serializeAs="String">
                <value>55157</value>
            </setting>
            <setting name="navia_assist_is_use_gzip_compression" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nmea_log_file_name" serializeAs="String">
                <value />
            </setting>
            <setting name="st_debug_log_file_name" serializeAs="String">
                <value />
            </setting>
            <setting name="raw_nmea_log_file_name" serializeAs="String">
                <value />
            </setting>
            <setting name="nmea_missed_points_log_file_name" serializeAs="String">
                <value />
            </setting>
            <setting name="path_tab_scale" serializeAs="String">
                <value />
            </setting>
            <setting name="path_log_chart_start_point_latitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="path_log_chart_start_point_longitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="path_log_is_use_chart_start_point" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deviations_reference_latitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="deviations_reference_longitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="path_calculation_is_use_message_gga" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rtcm_sc_104_serial_port_name" serializeAs="String">
                <value />
            </setting>
            <setting name="rtcm_sc_104_serial_port_speed" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="is_connect_rtcm_sc_104_to_debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="is_show_message_on_command_error" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="is_update_parameters_on_tab_enter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="is_show_serial_port_raw_logging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="is_show_notification_icon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="log_file_max_size_mb" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="is_rtcm_serial_source" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="is_rtcm_network_source" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="is_use_commands_console_logging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="commands_console_log_file_name" serializeAs="String">
                <value />
            </setting>
            <setting name="general_logging_folder" serializeAs="String">
                <value />
            </setting>
            <setting name="is_general_logging_folder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="is_messages_filter_enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="messages_filter_rules" serializeAs="String">
                <value />
            </setting>
            <setting name="is_show_traim_satellites_on_chart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="is_enable_auto_polling" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="auto_polling_interval_sec" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="auto_polling_messages_list" serializeAs="String">
                <value>$PSTMKEEPALIVE</value>
            </setting>
            <setting name="ntrip_server_address" serializeAs="String">
                <value />
            </setting>
            <setting name="ntrip_server_tcp_port" serializeAs="String">
                <value>2101</value>
            </setting>
            <setting name="ntrip_stream_name" serializeAs="String">
                <value />
            </setting>
            <setting name="ntrip_server_login" serializeAs="String">
                <value />
            </setting>
            <setting name="ntrip_server_password" serializeAs="String">
                <value />
            </setting>
            <setting name="is_ntrip_server_basic_autorization" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rtcm_log_file_name" serializeAs="String">
                <value />
            </setting>
            <setting name="is_use_rtcm_logging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alignment_message" serializeAs="String">
                <value>RMC</value>
            </setting>
            <setting name="data_source_file_start_position" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="data_source_file_stop_position" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="data_source_file_track_start_position" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="data_source_file_track_stop_position" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="data_source_file_track_step" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="data_source_file_max" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="data_source_file_start_max" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="data_source_file_stop_max" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="data_source_file_track_max" serializeAs="String">
                <value>100</value>
            </setting>
        </navia_viewer.Properties.Settings>
    </userSettings>
</configuration>